/* header */
nav > div {
  display: inline-block;
}

.search_bar span, .filter div {
  display: inline-block;
}


/* .container {
  display : flex;
  margin: auto;
  padding-top: .75em;
  padding-bottom: .8em;
} */


/* title */

/* article */


/* events */

/* footer */
